gemini-cli/
.DS_Store
.env*
.next/
.turbo/
.venv/
.vscode/
node_modules/
coverage/
.coverage
coverage.xml
dist/
build/
artifacts/
.scannerwork/
.pytest_cache/
.gradle/
apps/.DS_Store
__pycache__/
*.pyc
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea/
.python-version
