node_modules/
**/node_modules/
pnpm-lock.yaml
yarn.lock
.gradle/
.env
.env.*
.next/
.sonar/
coverage/
dist/
build/
Dockerfile.log
gemini-cli/
.DS_Store
.venv/
.vscode/
.gemini-cli/
.gemini-cli
apps/.DS_Store
