name: CI Analytics

on:
  push:
    paths:
      - "apps/analytics/**"

jobs:
  analytics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: actions/setup-python@a26af69be271e172c85d94de3b4197d8c050d1b4 # v5.6.0
        with:
          python-version: "3.11"
      - name: Install
        run: |
          cd apps/analytics
          pip install -r requirements.txt
      - name: Validate
        run: |
          cd apps/analytics
          python -c "import pandas as pd; print('Environment ready. Pandas version:', pd.__version__)"
