name: CI Web
permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    paths:
      - 'apps/web/**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/web
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'
<<<<<<< HEAD
          cache-dependency-path: apps/web/package.json
=======
>>>>>>> 5c851b4ed298983c8b181564c45232870bd9274b
      - name: Install
        run: npm install
      - name: Type-check
        run: npm run type-check
      - name: Lint
        run: npm run lint
      - name: Build
        run: npm run build
