name: CI Web

on:
  push:
    paths:
      - 'apps/web/**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 18
      - name: Install
        run: |
          cd apps/web
          npm install
      - name: Lint
        run: |
          cd apps/web
          npm run lint
      - name: Build
        run: |
          cd apps/web
          npm run build
